<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEATHER APP</title>

   {{>headerlink}}
</head>
<body>
    
  {{>navbar}}

    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <img src="images/404-errors.png" style="    height: 51vh;
    width: 73vw;
    margin: 8rem;" alt="">

    <h1 style="text-align: center">{{errmsg}}</h1>
            </div>
        </div>
    </div>


    {{>footer}}
</body>
</html>