<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEATHER APP</title>

    {{>headerlink}}
</head>
<body>
    
{{>navbar}}

    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                   <div class="col-md-6 col-12 main_header_right">
                        <figure>
                          <img src="images/photo.jpg" alt="">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Weather app</p>
                        <h1>I am a <span>Mern Stack Developer</span>, and a Sooftware Engineering Student</h1>
                        <a href="/weather"><button>About Me</button></a>
                        
                    </div>
                   
                </div>

            </div>
        </div>
    </div>
   {{>footer}}
</body>
</html>